In [1]:
import pandas as pd
data  = pd.read_csv('dataset3.csv')
data_from_previous_csv_file = pd.read_csv('EnglishMoviesWithPolarityRevenueAndBudget.csv')

In [2]:
data.head()

,Movie,IMDB ID,Genre ID,Popularity,Release date,Adult,original language,vote_count,vote average,run time,run budget,revenue
0,Brothers of the Head,16429,"[10402, 18]",1.748908,1/1/2005,False,en,7,6.6,93.0,0,0
1,Tickets,57251,"[35, 18]",1.593420,3/25/2005,False,it,8,6.0,109.0,0,0
2,Close to Leo,27093,[18],2.048641,5/18/2002,False,fr,12,5.5,90.0,0,0
3,The Bridge on the River Kwai,826,"[18, 36, 10752]",10.156675,10/2/1957,False,en,600,7.7,161.0,3000000,27200000
4,Dream with the Fishes,47686,[35],2.135729,1/1/1997,False,en,10,7.7,97.0,0,0

In [3]:
len(data.Movie)

6331

In [4]:
data_revenue = data[data[' revenue']  !=0 ]

In [5]:
data_revenue = data_revenue[data_revenue[' revenue'] > 100]

In [6]:
data_revenue

,Movie,IMDB ID,Genre ID,Popularity,Release date,Adult,original language,vote_count,vote average,run time,run budget,revenue
3,The Bridge on the River Kwai,826,"[18, 36, 10752]",10.156675,10/2/1957,False,en,600,7.7,161.0,3000000,27200000
21,Playing God,12628,"[18, 28, 53, 80]",3.426904,10/17/1997,False,en,26,5.5,94.0,12000000,4000000
27,The Quest,9103,"[28, 12]",5.646706,4/19/1996,False,en,135,5.3,95.0,30000000,57400547
28,The Indian Runner,25598,[18],1.851309,5/19/1991,False,en,24,6.3,127.0,7000000,191125
31,Nacho Libre,9353,"[35, 10751]",8.611032,6/16/2006,False,en,384,5.6,92.0,32000000,80197993
40,Bed of Roses,20927,"[18, 10749]",2.865682,1/26/1996,False,en,27,5.1,87.0,0,19030691
48,Last Night,23830,"[18, 10749]",7.527487,5/11/2010,False,en,266,6.1,90.0,7000000,7644937
54,The Celestine Prophecy,18524,"[10749, 18, 12]",3.289517,6/1/2006,False,en,16,4.8,99.0,10000000,615752
59,Sleepwalkers,11428,"[14, 27, 53]",7.090693,4/10/1992,False,en,105,4.9,91.0,0,30524763
61,Dan in Real Life,7211,"[35, 10749, 18]",7.751700,10/26/2007,False,en,387,6.6,98.0,25000000,68377859
63,Alice in Wonderland,12092,"[16, 10751, 14]",13.784223,7/3/1951,False,en,1686,7.0,75.0,3000000,572000000
69,Stuart Little,10137,"[16, 14, 10751, 35]",8.888607,12/17/1999,False,en,1125,5.8,84.0,133000000,300135367
75,Alone in the Dark,12142,"[28, 14, 27, 53]",6.646830,1/28/2005,False,en,179,3.1,96.0,20000000,10442808
77,Lucy,240832,"[28, 878]",48.800106,7/14/2014,False,en,6500,6.2,89.0,40000000,126546825
83,Brown Sugar,37964,"[35, 10749]",3.033906,10/5/2002,False,en,32,7.0,109.0,8000000,27362712
87,Seven Pounds,11321,[18],7.813750,12/18/2008,False,en,2273,7.5,123.0,55000000,168167691
91,Arthur,13665,"[35, 18, 10749]",7.789407,7/17/1981,False,en,135,6.5,97.0,7000000,95461682
100,1408,3021,"[27, 53]",10.572676,7/12/2007,False,en,1489,6.5,104.0,25000000,94679598
103,This Is England,11798,"[18, 80]",3.316388,9/12/2006,False,en,396,7.4,101.0,2380000,8176544
108,Something Wicked This Way Comes,24808,"[14, 9648, 53]",3.739680,4/29/1983,False,en,38,6.6,95.0,19000000,5656087
111,Cape Fear,1598,"[80, 53]",7.496256,11/15/1991,False,en,751,7.0,128.0,35000000,182300000
117,Alice in Wonderland,12092,"[16, 10751, 14]",13.784223,7/3/1951,False,en,1686,7.0,75.0,3000000,572000000
120,What Have I Done to Deserve This?,8221,"[18, 35]",3.510825,10/24/1984,False,es,41,7.4,102.0,0,706685
121,The Limey,10388,"[28, 80, 18, 9648, 53]",6.037814,5/15/1999,False,en,115,6.6,89.0,10000000,3193102
126,Halloween,948,"[27, 53]",11.949158,10/24/1978,False,en,1192,7.4,91.0,325000,70000000
128,For Love or Money,9024,"[35, 10749]",7.023222,10/1/1993,False,en,80,5.8,94.0,30000000,11146270
130,Brokedown Palace,17707,"[18, 53]",9.536457,8/13/1999,False,en,121,6.3,100.0,25000000,13000000
136,Spaced Invaders,34086,"[35, 10751, 878]",3.173724,4/27/1990,False,en,29,4.7,100.0,3000000,15369573
148,Malice,2246,"[18, 80]",10.292210,9/29/1993,False,en,113,6.0,107.0,0,46405336
149,Salsa,38909,"[18, 10402, 10749]",2.227635,7/9/1988,False,en,8,4.8,98.0,0,8892589
...,...,...,...,...,...,...,...,...,...,...,...,...
6148,Rush,96721,"[18, 28]",10.465698,9/2/2013,False,en,2465,7.7,123.0,38000000,90247624
6154,Farewell to the King,20713,"[10752, 12]",3.551716,3/3/1989,False,en,25,6.0,117.0,16000000,2420917
6155,The Ballad of the Sad Cafe,135473,"[18, 10749, 35, 9648]",1.909170,3/28/1991,False,en,1,5.0,101.0,0,184890
6163,Osmosis Jones,12610,"[12, 16, 28, 35, 10751]",6.277689,8/7/2001,False,en,258,6.0,95.0,75000000,13596911
6168,Nightbreed,20481,"[28, 18, 14, 27]",6.029138,2/16/1990,False,en,109,6.4,102.0,11000000,8862354
6180,Volver,219,"[35, 18, 10749]",6.586414,3/16/2006,False,es,452,7.3,121.0,12899867,85582407
6182,Mirrormask,14517,[14],6.265025,1/25/2005,False,en,112,6.6,101.0,4000000,866999
6190,Critters 2,10127,"[35, 27, 878, 53]",7.015139,4/29/1988,False,en,95,5.1,86.0,4500000,3813293
6202,Airborne,13064,"[28, 12, 35]",2.913801,9/17/1993,False,en,21,6.1,91.0,2600000,2850263
6206,Shame,76025,[18],10.387980,10/2/2011,False,en,961,7.0,100.0,6500000,17693675
6210,Bulletproof,10723,"[28, 12, 35, 53]",8.615565,9/6/1996,False,en,169,5.4,84.0,25000000,22611954
6214,A Prayer for the Dying,33851,"[80, 18, 28, 53]",3.780054,9/11/1987,False,en,17,6.1,107.0,6000000,1432687
6221,Enchanted April,26561,"[10749, 18]",3.289453,11/6/1991,False,en,25,6.9,89.0,0,13200170
6233,Underworld,277,"[14, 28, 53]",22.081050,9/19/2003,False,en,2693,6.6,121.0,22000000,95708457
6238,Wired,78151,"[35, 18, 14]",1.241228,8/25/1989,False,en,3,4.3,112.0,0,1089000
6244,Black Rain,4105,"[28, 53, 80]",7.986245,9/22/1989,False,en,264,6.2,125.0,30000000,45892212
6254,American Ninja,12500,"[28, 12]",7.039667,8/30/1985,False,en,79,5.6,95.0,1000000,10499694
6256,Be Cool,4551,"[35, 80]",6.955655,3/4/2005,False,en,317,5.3,118.0,53000000,95226116
6264,The Rage: Carrie 2,7341,"[27, 53, 878]",4.754552,3/11/1999,False,en,86,5.0,104.0,21000000,17762705
6267,Captain Corelli's Mandolin,1722,"[18, 36, 10749]",6.357771,4/18/2001,False,en,160,5.6,131.0,57000000,62112895
6274,Cats Don't Dance,24662,"[16, 35, 10751, 10402]",6.136751,3/26/1997,False,en,30,6.6,75.0,32000000,3566637
6302,Tommy Boy,11381,[35],7.290292,3/31/1995,False,en,332,6.7,97.0,0,32648673
6303,Hoosiers,5693,"[18, 10751]",6.217922,11/14/1986,False,en,153,7.1,114.0,9000000,28607524
6304,Not Another Teen Movie,11397,[35],8.774210,12/7/2001,False,en,485,5.4,89.0,16000000,66468332
6306,Dear John,22971,"[18, 10749, 10752]",10.549352,2/4/2010,False,en,1407,6.6,115.0,25000000,114977104
6308,Spy Kids,10054,"[28, 35, 10751, 12]",9.297787,3/18/2001,False,en,984,5.5,88.0,35000000,147934180
6312,Rape Me,3134,"[80, 18, 10749, 53]",7.621924,6/28/2000,False,fr,83,4.3,77.0,0,940944
6313,Beastmaster 2: Through the Portal of Time,27549,"[28, 12, 14, 878]",3.094512,6/8/1991,False,en,17,4.6,107.0,6000000,869325
6317,D.O.A.,9748,"[9648, 53]",7.012199,3/18/1988,False,en,39,5.9,96.0,0,12706478
6321,Capote,398,"[80, 18]",7.187327,9/30/2005,False,en,426,6.9,114.0,7000000,49084830

In [7]:
len(data_from_previous_csv_file.Title)

4162

In [8]:
data_title_revenue = data_from_previous_csv_file[data_from_previous_csv_file['revenue']!=0]

In [9]:
data_title_revenue.columns

Index([u'Unnamed: 0', u'Unnamed: 0.1', u'Unnamed: 0.1.1', u'Unnamed: 0.1.1',
       u'Unnamed: 0.1.1.1', u'movielens_Id', u'genre', u'imdbId', u'tmdbId',
       u'Plot', u'Rated', u'Response', u'Language', u'Title', u'Country',
       u'Writer', u'Metascore', u'imdbRating', u'Director', u'Released',
       u'Actors', u'Year', u'Genre', u'Awards', u'Runtime', u'Type', u'Poster',
       u'imdbVotes', u'imdbID', u'tomatoMeter', u'tomatoRating',
       u'tomatoConsensus', u'tomatoUserRating', u'tomatoImage', u'DVD',
       u'Production', u'tomatoFresh', u'Website', u'tomatoRotten',
       u'tomatoUserReviews', u'tomatoUserMeter', u'BoxOffice',
       u'tomatoReviews', u'tomatoURL', u'sentiment_polarity', u'revenue',
       u'budgets'],
      dtype='object')

In [10]:
data_title_revenue = data_title_revenue[['Title','revenue']]
data_title_revenue.rename(columns={'Title': 'Movie'}, inplace=True)
data.rename(columns={' revenue': 'revenue'}, inplace=True)

In [11]:
len(data_title_revenue.Movie)

2650

In [12]:
data_title_revenue.head(10)

               Movie      revenue
1        Next Friday   59827328.0
2          Supernova   14828081.0
4    Isn't She Great    3003296.0
5           Scream 3  161834276.0
6            Gun Shy    1631839.0
7          The Beach  144056873.0
9   The Tigger Movie   45554533.0
10       Boiler Room   28780255.0
11        Hanging Up   36037909.0
12       Pitch Black   53187659.0

In [28]:
data_revenue_less_or_equal_100 = data[data['revenue'] <= 100]
len(data_revenue_less_or_equal_100.Movie)

5135

In [74]:
import numpy as np

result = pd.merge(data_revenue_less_or_equal_100, data_title_revenue, on=['Movie'])
result.dropna(subset=['revenue_y'], how='any')
result.drop(['revenue_x'], axis = 1, inplace = True)
result.rename(columns={'revenue_y': 'revenue'}, inplace=True)
new_result = result.drop_duplicates(['Movie'], keep='last')

new_result

,Movie,IMDB ID,Genre ID,Popularity,Release date,Adult,original language,vote_count,vote average,run time,run budget,revenue
1,Slipstream,24029,[878],3.122894,2/3/2005,False,en,21,4.6,89.0,0,27769.0
2,Cabin Fever,298584,[27],10.345036,2/12/2016,False,en,121,4.4,99.0,0,30553394.0
4,The Return,483481,[18],13.530517,12/7/2017,False,ko,0,0.0,100.0,0,11992014.0
6,Birthday Girl,2084,"[35, 80, 53]",8.435137,9/6/2001,False,en,110,6.1,93.0,13000000,16171098.0
7,The Protector,45408,"[28, 12, 35, 80, 18]",4.406624,7/11/1985,False,en,38,5.6,91.0,0,27165581.0
8,Brother Bear,10009,"[12, 16, 10751]",10.434201,10/23/2003,False,en,1524,6.9,85.0,100000000,250.0

In [75]:
final_data = data_revenue.append(new_result,ignore_index=True)

In [85]:
len(final_data.Movie)

1202

In [86]:
final_data.to_csv('movie_dataset_that_has_reviews_and_revenue_1202.csv')

In [87]:
other = pd.read_csv('movie_dataset_that_has_reviews_and_revenue_1202.csv')
other.head()

,Unnamed: 0,revenue,Adult,Genre ID,IMDB ID,Movie,Popularity,Release date,original language,revenue,run budget,run time,vote average,vote_count
0,0,27200000.0,False,"[18, 36, 10752]",826,The Bridge on the River Kwai,10.156675,10/2/1957,en,NaN,3000000,161.0,7.7,600
1,1,4000000.0,False,"[18, 28, 53, 80]",12628,Playing God,3.426904,10/17/1997,en,NaN,12000000,94.0,5.5,26
2,2,57400547.0,False,"[28, 12]",9103,The Quest,5.646706,4/19/1996,en,NaN,30000000,95.0,5.3,135
3,3,191125.0,False,[18],25598,The Indian Runner,1.851309,5/19/1991,en,NaN,7000000,127.0,6.3,24
4,4,80197993.0,False,"[35, 10751]",9353,Nacho Libre,8.611032,6/16/2006,en,NaN,32000000,92.0,5.6,384